<launch>

  <arg name="map_file" default="$(find banks_dd)/map/mymap.yaml"/>
  <arg name="move_forward_only" default="false"/>


  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>


  <include file="$(find banks_dd)/launch/bankamcl.launch"/>


  <include file="$(find banks_dd)/launch/bankmovebase.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</launch>